<div class="flex flex-col gap-5 items-center">
  <div class="uppercase font-bold tracking-wide">teacher</div>
  <div class="card py-10 px-10 flex flex-col max-w-sm">
    <ol class="flex flex-col gap-8">
      <li>
        <p class="break-all leading-6 overflow-ellipsis">
          <span class="number border-primaryPurple border pauto mr-3">1</span>
          See the weekly class schedule
        </p>
      </li>
      <li>
        <p class="break-all leading-6">
          <span
            class="number border-primaryPurple border pauto mr-3 text-center"
            >2</span
          >See View all notifications issued by the department head, college
          deanship, or university presidency.
        </p>
      </li>
      <li>
        <p class="break-all">
          <span class="number border-primaryPurple border pauto mr-3">3</span
          >See Building lists of absences and notifications for students.
        </p>
      </li>
      <li>
        <p class="break-all">
          <span class="number border-primaryPurple border pauto mr-3">4</span
          >See Confirmation of student absences.
        </p>
      </li>
      <li>
        <p class="break-all">
          <span class="number border-primaryPurple border pauto mr-3">5</span
          >See Delivering the scientific material to students of its various
          types (docx, pptx, jpeg, mp3, mp4, wav …., etc.).
        </p>
      </li>
      <li>
        <p class="break-all">
          <span class="number border-primaryPurple border mr-3">6</span>See
          Student assessment.
        </p>
      </li>
    </ol>
  </div>
</div>

<style>
  .card {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    width: 356px;
    border-radius: .5rem;
  }
  .number {
    border-radius: 50%;
    display: inline-flex;
    height: 24px;
    width: 24px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
</style>
