---
const logoList = [
  "company-logo-1.png",
  "company-logo-2.png",
  "company-logo-3.png",
  "company-logo-4.png",
  "company-logo-5.png",
]
---

<section
  id="brands"
  class="w-full flex flex-col md:flex-row flex-wrap items-center gap-12 px-24 justify-center py-36"
>
  {logoList.map((img: string) => <img src={img} />)}
</section>
