<section
  class="py-5 flex flex-col items-center relative my-24 w-full"
  id="contactus"
>
  <div class="">
    <img src="test-contact.svg" alt="lines" />
  </div>
  <h2 class="font-bold text-4xl uppercase text-primaryGray my-16">
    Contact Us
  </h2>
  <div
    class="flex flex-col-reverse xl:flex-row lg:gap-48 items-center justify-center w-full"
  >
    <div class="flex flex-col gap-10 p-4 rounded-lg">
      <div class="flex gap-3">
        <div
          class="w-12 h-12 flex items-center justify-center p-2 rounded-full card"
        >
          <img src="human.svg" alt="Human Resource" class="w-6" />
        </div>
        <div class="">
          <h3 class="font-bold text-gray-800">Human Resource</h3>
          <p class="text-slate-700 font-semibold">
            Moahmed Raheem - <a class="" href="mailto:jobs@wedo-tech.net"
              >jobs@wedo-tech.net
            </a>
          </p>
        </div>
      </div>

      <div class="flex gap-3">
        <div
          class="w-12 h-12 flex items-center justify-center p-2 rounded-full card"
        >
          <img src="call.svg" alt="Phone Number" class="w-6" />
        </div>
        <div class="">
          <h3 class="font-bold text-gray-800">Phone Number</h3>
          <p class="text-slate-700 font-semibold">
            <a class="" href="tel:091-216-6490">091-216-6490</a>
          </p>
        </div>
      </div>

      <div class="flex gap-3">
        <div
          class="w-12 h-12 flex items-center justify-center p-2 rounded-full card"
        >
          <img src="email.svg" alt="Email" class="w-6" />
        </div>
        <div class="">
          <h3 class="font-bold text-gray-800">Email</h3>
          <p class="text-slate-700 font-semibold">
            <a class="" href="mailto:info@wedo-tech.net">info@wedo-tech.net</a>
          </p>
        </div>
      </div>

      <div class="flex gap-3">
        <div
          class="w-12 h-12 flex items-center justify-center p-2 rounded-full card"
        >
          <img src="location.svg" alt="Location" class="w-6" />
        </div>
        <div class="">
          <h3 class="font-bold text-gray-800">Location</h3>
          <p class="text-slate-700 font-semibold">
            Algamhoria Street - Suna news agency tour - 7th floor
          </p>
        </div>
      </div>
      <div class="flex gap-3">
        <div
          class="w-12 h-12 flex items-center justify-center p-2 rounded-full card"
        >
          <img src="location.svg" alt="Location" class="w-6" />
        </div>
        <div class="">
          <h3 class="font-bold text-gray-800">Office No</h3>
          <p class="text-slate-700 font-semibold">0183 - 776327</p>
        </div>
      </div>
      <div class="flex gap-3">
        <div
          class="w-12 h-12 flex items-center justify-center p-2 rounded-full card"
        >
          <img src="sales.svg" alt="Sales Department" />
        </div>
        <div class="">
          <h3 class="font-bold text-gray-800">Sales Department</h3>
          <p class="text-slate-700 font-semibold">
            Doha ali - <a class="" href="mailto: sales@wedo-tech.net"
              >sales@wedo-tech.net</a
            >
          </p>
        </div>
      </div>
      <div class="mt-12 flex gap-3">
        <div class="flex items-center justify-center p-3 card">
          <a href="/">
            <img src="facebook.svg" alt="Facebook Account" />
          </a>
        </div>
        <div class="flex items-center justify-center p-3 card">
          <a href="/">
            <img src="insta.svg" alt="insta Account" />
          </a>
        </div>
        <div class="flex items-center justify-center p-3 card">
          <a href="/">
            <img src="linkedin.svg" alt="linkedin Account" />
          </a>
        </div>
        <div class="flex items-center justify-center p-3 card">
          <a href="/">
            <img src="twitter.svg" alt="Facebook Account" />
          </a>
        </div>
      </div>
    </div>
    <div class="w-full max-w-xl">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d571.2234400492994!2d32.53715426010787!3d15.60671159595088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x168e91fffb7d7eed%3A0x82dd2828020a40ca!2sSUNA%20NEWS%20AGENCY!5e0!3m2!1sen!2s!4v1670353870387!5m2!1sen!2s"
        height="650"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        class="w-full"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>

<style>
  .card {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  }
</style>
