<section class="py-5 flex flex-col items-center relative">
	<h1>placeholder for contact page</h1>
</section>

<style>
  .card-wrapper {
    width: 1030px;
  }
  .card {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  }
</style>
