<section class="py-5 flex flex-col items-center relative my-24">
  <div class="">
    <img src="test-contact.svg" alt="" />
  </div>
  <h2 class="font-bold text-4xl uppercase text-primaryGray my-16">
    Contact Us
  </h2>
  <div class="flex flex-col xl:flex-row gap-24 items-center">
    <div class="flex flex-col gap-10 p-4 rounded-lg">
      <div class="flex gap-3">
        <div
          class="w-12 h-12 flex items-center justify-center p-2 rounded-full card"
        >
          <img src="human.svg" alt="Human Resource" />
        </div>
        <div class="">
          <h3 class="font-bold text-gray-800">Human Resource</h3>
          <p class="text-slate-700 font-semibold">
            Ibraheem Abdelhameed - <a class="" href="mailto:jobs@wedo-tech.net"
              >jobs@wedo-tech.net
            </a>
          </p>
        </div>
      </div>

      <div class="flex gap-3">
        <div
          class="w-12 h-12 flex items-center justify-center p-2 rounded-full card"
        >
          <img src="call.svg" alt="Phone Number" />
        </div>
        <div class="">
          <h3 class="font-bold text-gray-800">Phone Number</h3>
          <p class="text-slate-700 font-semibold">
            <a class="" href="tel:091-216-6490">091-216-6490</a>
          </p>
        </div>
      </div>

      <div class="flex gap-3">
        <div
          class="w-12 h-12 flex items-center justify-center p-2 rounded-full card"
        >
          <img src="email.svg" alt="Email" />
        </div>
        <div class="">
          <h3 class="font-bold text-gray-800">Email</h3>
          <p class="text-slate-700 font-semibold">
            <a class="" href="mailto:info@wedo-tech.net">info@wedo-tech.net</a>
          </p>
        </div>
      </div>

      <div class="flex gap-3">
        <div
          class="w-12 h-12 flex items-center justify-center p-2 rounded-full card"
        >
          <img src="location.svg" alt="Location" />
        </div>
        <div class="">
          <h3 class="font-bold text-gray-800">Location</h3>
          <p class="text-slate-700 font-semibold">
            شارع سوبا شرق , شرق النيل , الخرطوم , السودان
          </p>
        </div>
      </div>

      <div class="flex gap-3">
        <div
          class="w-12 h-12 flex items-center justify-center p-2 rounded-full card"
        >
          <img src="sales.svg" alt="Sales Department" />
        </div>
        <div class="">
          <h3 class="font-bold text-gray-800">Sales Department</h3>
          <p class="text-slate-700 font-semibold">
            Mohamed Mubarak - <a class="" href="mailto: sales@wedo-tech.net"
              >sales@wedo-tech.net</a
            >
          </p>
        </div>
      </div>
      <div class="mt-12 flex gap-3">
        <div class="flex items-center justify-center p-3 card">
          <a href="/">
            <img src="facebook.svg" alt="Facebook Account" />
          </a>
        </div>
        <div class="flex items-center justify-center p-3 card">
          <a href="/">
            <img src="insta.svg" alt="insta Account" />
          </a>
        </div>
        <div class="flex items-center justify-center p-3 card">
          <a href="/">
            <img src="linkedin.svg" alt="linkedin Account" />
          </a>
        </div>
        <div class="flex items-center justify-center p-3 card">
          <a href="/">
            <img src="twitter.svg" alt="Facebook Account" />
          </a>
        </div>
      </div>
    </div>
    <div class="">
      <img src="map.png" alt="WeDo location" />
    </div>
  </div>
</section>

<style>
  .card-wrapper {
    width: 1030px;
  }
  .card {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  }
</style>
