<section
  class="px-24 h-[90vh] items-center flex flex-col-reverse xl:flex-row justify-center gap-8 xl:gap-48 relative z-10"
>
  <div
    class="flex flex-col xl:w-1/3 self-start xl:mt-[301px] tracking-wider gap-8 text-center xl:text-left"
  >
    <h1 class="uppercase text-5xl text-primaryGreen font-bold">What are we</h1>
    <p class="text-xl text-primaryGray leading-8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
      amet luctus venenatis, lectus magna fringilla urna, porttitor
    </p>
  </div>
  <div class="relative">
    <div
      class="hidden sm:block absolute bg-blue-500 w-56 xl:w-64 h-56 xl:h-64 bottom-24 right-0 blur-2xl opacity-20 rounded-full"
    >
    </div>
    <div
      class="sm:block absolute bg-blue-500 w-64 xl:w-96 h-72 xl:h-80 -bottom-12 left-0 xl:left-10 blur-2xl opacity-20 rounded-full"
    >
    </div>
    <div
      class="hidden sm:block absolute bg-blue-500 w-56 xl:w-96 h-80 bottom-6 right-20 blur-2xl opacity-20 rounded-full"
    >
    </div>
    <img class="self-center" src="hero-image.png" alt="" />
  </div>
  <svg
    class="absolute top-0 left-0 max-w-[200px] w-[20vw]"
    viewBox="0 0 307 307"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0.017562 0.232361L306.518 0.267498L-0.0175177 306.232L0.017562 0.232361Z"
      fill="#02C63B"></path>
  </svg>

  <svg
    class="absolute bottom-0 right-0 rotate-180 max-w-[200px] w-[20vw]"
    viewBox="0 0 307 307"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0.017562 0.232361L306.518 0.267498L-0.0175177 306.232L0.017562 0.232361Z"
      fill="#02C63B"></path>
  </svg>
</section>
