<section
  class="px-24 h-screen items-center flex flex-row justify-center gap-48 relative"
>
  <div class="left flex flex-col w-1/3 self-start mt-[301px] tracking-wider gap-8">
    <h1 class="uppercase text-5xl text-primaryGreen font-bold">What are we</h1>
    <p class="text-lg text-primaryGray leading-8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
      ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit
      amet luctus venenatis, lectus magna fringilla urna, porttitor
    </p>
  </div>
  <img class="self-center" src="hero-image.png" alt="" />
  <svg
    class="absolute top-[86px] left-0"
    width="307"
    height="307"
    viewBox="0 0 307 307"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0.017562 0.232361L306.518 0.267498L-0.0175177 306.232L0.017562 0.232361Z"
      fill="#02C63B"></path>
  </svg>
</section>
