---
import TeacherCard from "../unisoft/TeacherCard.astro";
import StudentCard from "../unisoft/StudentCard.astro";
import ManagementCard from "../unisoft/ManagementCard.astro";
---

<section class="min-h-screen py-5 flex flex-col items-center gap-24">
  <div class="flex flex-col items-center">
    <img class="mt-20 mb-10" src="unisoft.png" alt="Unisoft Logo" />
    <p class="max-w-4xl wx-auto text-center px-4">
      An integrated system, a mixture of Students Management Information System
      with E-Learning systems, the aim of which is to deal with all personal
      information of students in addition to information about the university,
      the course, information about each class, educational.
    </p>
  </div>
  <div class="relative">
    <img src="unisoft-app.png" alt="Unisoft Mobile App" class="" />
    <div class="hidden xl:block absolute left-0 -bottom-2 -z-10">
      <img src="fet1.svg" alt="doted line 1" />
    </div>
    <div class="hidden xl:block absolute -translate-x-1/2 left-1/2 -bottom-32 -z-10">
      <img src="fet2.svg" alt="doted line 2" />
    </div>
    <div class="hidden xl:block absolute right-24 -bottom-2 -z-10">
      <img src="fet3.svg" alt="doted line 3" />
    </div>
  </div>

  <div class="flex flex-row flex-wrap justify-center px-10 w-full gap-20">
    <TeacherCard />
    <div class="inline-bloack xl:hidden -z-10">
      <img src="fet2.svg" alt="doted line 2" />
    </div>

    <StudentCard />
    <div class="inline-bloack xl:hidden -z-10">
      <img src="fet2.svg" alt="doted line 2" />
    </div>
    <ManagementCard />
  </div>
  <div class="-mb-24 -z-10">
    <img src="fet2.svg" alt="doted line 2 " />
  </div>
</section>
