<div
  class="fixed bottom-6 flex gap-2 max-w-md w-full rounded-md p-3 left-1/2 bg-white shadow-lg -translate-x-1/2 z-50"
>
  <div
    class="rounded-md bg-green-500 text-white p-2 font-bold flex-grow text-center"
  >
    <a href="/#home">Home</a>
  </div>
  <div
    class="rounded-md bg-gray-100 text-gray p-2 font-bold flex-grow text-center hover:bg-gray-200"
  >
    <a href="/#schoollink">School Link</a>
  </div>
  <div
    class="rounded-md bg-gray-100 text-gray p-2 font-bold flex-grow text-center hover:bg-gray-200"
  >
    <a href="/#unisoft">UNISOFT</a>
  </div>
  <div
    class="rounded-md bg-gray-100 text-gray p-2 font-bold flex-grow text-center hover:bg-gray-200"
  >
    <a href="/#hotelams">Hotel AMS</a>
  </div>
</div>
