<div
  class="mx-2 fixed bottom-6 flex gap-2 max-w-xs md:max-w-md w-full rounded-md p-1 py-2 md:p-3 left-1/2 bg-white shadow-lg -translate-x-1/2 z-50 border"
>
  <a href="/#home" class="link active">
    <div>Home</div>
  </a>
  <a href="/#schoollink" class="link">
    <div>SchoolLink</div>
  </a>
  <a href="/#unisoft" class="link">
    <div>UNISOFT</div>
  </a>
  <a href="/#hotelams" class="link">
    <div>Hotel</div>
  </a>
</div>

<style>
  .link {
    @apply text-sm md:text-base rounded-md bg-gray-100 text-gray-800 p-2 flex-grow text-center hover:bg-gray-200 flex justify-center items-center;
  }
  .active {
    @apply bg-green-500 text-white font-bold;
  }
</style>

<script>
  const links = document.querySelectorAll("a");

  if (links) {
    links.forEach((link) => {
      if (link.classList.contains("active")) {
        link.classList.remove("active");
      }
      link.classList.remove("active");
      link.addEventListener("click", (e) => {
        links.forEach((prevLink) => {
          if (prevLink.classList.contains("active")) {
            prevLink.classList.remove("active");
          }
        });
        link.classList.add("active");
      });
    });
  }
</script>
