<nav
  class="flex flex-row w-full justify-between h-[10vh] py-6 px-2 xl:px-10 items-center nav-shadow"
>
  <div><img src="logo.png" /></div>
  <div class="flex flex-row">
    <div class="mr-4 font-semibold">
      <a href="#">About</a>
    </div>
    <div class="mr-4 font-semibold">
      <a href="#">Contact Us</a>
    </div>
    <div class="mr-4 font-semibold">
      <a href="#">Contact</a>
    </div>
  </div>
</nav>

<style>
  nav {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    background: "#ff0000";
  }
</style>
