<nav
  class="flex flex-row w-full justify-between h-[10vh] py-6 px-2 xl:px-10 items-center nav-shadow"
>
  <div><img src="logo.png" class="w-32 md:w-52" /></div>
  <div class="flex flex-row gap-2 md:gap-4">
    <div class="font-semibold text-xs md:text-md lg:text-base">
      <a href="#">About</a>
    </div>
    <div class="font-semibold text-xs md:text-md lg:text-base">
      <a href="#">Contact Us</a>
    </div>
    <div class="font-semibold text-xs md:text-md lg:text-base">
      <a href="#">Contact</a>
    </div>
  </div>
</nav>

<style>
  nav {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    background: "#ff0000";
  }
</style>
