---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta
      name="keywords"
      content="software, company, school, unisoft, schoollink, suna, sudan, hotel"
    />
    <meta
      name="description"
      content="We are a team of programmers, developers, and designers who brought together experience, competence, and creativity in the field of programming, design, and presenting our work in a different way throughout the Arab world.
"
    />

    <!-- Facebook and Others -->
    <meta property="og:image" content="/facebook.png" />

    <meta property="og:title" content="WeDo | Software Company" />
    <meta
      property="og:description"
      content="We are a team of programmers, developers, and designers who brought together experience, competence, and creativity in the field of programming, design, and presenting our work in a different way throughout the Arab world.
"
    />
    <meta property="og:url" content="https://wedo-tech.net/" />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@WeDo" />
    <meta name="twitter:creator" content="@WeDo" />
    <meta name="twitter:title" content="WeDo | Software Company" />
    <meta
      name="twitter:description"
      content="We are a team of programmers, developers, and designers who brought together experience, competence, and creativity in the field of programming, design, and presenting our work in a different way throughout the Arab world.
"
    />
    <meta name="twitter:image" content="/twitter.png" />

    <!-- Whatsapp -->
    <meta property="og:image" content="/whatsapp.png" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        scroll-behavior: smooth;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }

      section {
        padding: 1rem;
      }
    </style>
  </body>
</html>
